.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #fffbea;
    margin-top: 70px;
    margin-left: 10%;
  }
  
  .left {
    flex: 1;
    padding-right: 20px;
  }
  
  .left h1 {
    font-size: 36px;
    color: #2c3e50;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .left p {
    font-size: 17px;
    line-height: 1.6;
    color: #4d4d4d;
    margin-bottom: 30px;
  }
  
  .btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
  }
  
  .btn:hover {
    background-color:  #ff6f61;
  }
  
  .right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin-left: 10%;

  }
  
  .right img {
    width: 400px;
    transform: rotate(0deg);
    animation: rotateImage 10s linear infinite;
  }
  
  @keyframes rotateImage {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  

