.work-container {
    padding: 20px;
    background-color:  #fffbea;;
  }
  
  .work-heading {
    text-align: center;
    font-size: 32px;
    color: #2c3e50;
    margin-bottom: 20px;
    margin-top: 90px;
  }
  
  .menu-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  